
@media only screen and (max-device-width: 768px) {

 h2{
    font-size: 2em;
 }
 .special{
    font-size: 2em;
 }
 
 th{
    font-size: 1.6em;
    color: DarkBlue;
    padding: 0.3em;
    line-height: 2.0em;
 }
 
 td{
    font-size: 1.6em;
    padding: 0.3em;
    line-height: 2.0em;
 }
 
 .item{
    font-size: 2em !important;
    line-height: 2.0em;
 }
 .item_long{
    font-size: 2em !important;
    line-height: 2em;
 }
 #logo a{
    font-size: 1.6em !important;
    padding: 3px 2px 2px 1px;
 }
 
 #logo{
    height: 90px;
    padding-top: 2em;
    padding-right: 2em;
 }
 
 .question{
    font-size: 2em;
    line-height: 2.1em;
 }
 .answer{
    font-size: 2em;
    line-height: 2.1em;
 }
 
.smallEng{
 font-size: 1.5em !important;
 }
 
 .navdiv{
    float:left;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
}
